.card
  .row
    .col-lg-4
      %img.card-img{:alt => "Vans", :src => "https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/vans.png"}/
      .card-img-overlay.d-flex.justify-content-end
        %a.card-link.text-danger.like{:href => "#"}
          %i.fas.fa-heart
    .col-lg-8
      .card-body
        %h4.card-title Vans Sk8-Hi MTE Shoes
        %h6.card-subtitle.mb-2.text-muted Style: VA33TXRJ5
        %p.card-text
          The Vans All-Weather MTE Collection features footwear and apparel designed to withstand the elements whilst still looking cool.
        .options.d-flex.flex-fill
          %select.custom-select.mr-1
            %option{:selected => "selected"} Color
            %option{:value => "1"} Green
            %option{:value => "2"} Blue
            %option{:value => "3"} Red
          %select.custom-select.ml-1
            %option{:selected => "selected"} Size
            %option{:value => "1"} 41
            %option{:value => "2"} 42
            %option{:value => "3"} 43
        .buy.d-flex.justify-content-between.align-items-center
          .price.text-success
            %h5.mt-4 $125
          %a.btn.btn-primary.mt-3{:href => "#"}
            %i.fas.fa-shopping-cart
            Add to Cart